@use '../base/mixins' as m;
@use '../base/variables' as v;

:root {
  --rotate: 132deg;
}


.contenedor-servicios {
  min-height: max-content;
  height: --webkit-fill-avalible;
  display: flex;
  flex-wrap: wrap;
  gap: var(v.$separacion);
  justify-content: space-around;
  padding: 1rem 2rem 1rem 2rem;
  z-index: 0;
}

.contenedor-servicios>* {
  flex-basis: 95%;
  margin-top: 2rem;

  @include m.telefono {
    flex-basis: 48%;
  }

  @include m.tablet {
    flex-basis: 30%;
  }

  @include m.desktop {
    flex-basis: 23%;
  }
}

.servicio {
  overflow: hidden;
  background-color: transparent;
  padding: 0.5rem;

  height: -webkit-fill-available;
  height: auto;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
  max-height: 40rem;
  transition: all 2s linear;

  img,
  picture {


    height: -moz-available;
    /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    height: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    width: 100%;
    object-fit: contain;
  }

  .servicio-descripcion {
    bottom: -100%;
    left: 0rem;


    position: absolute;
    z-index: 1;


    height: -moz-available;
    /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    height: 100%;

    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    width: 100%;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 2.5s ease-in-out;
  }

}

.background-gradient-1,
.background-gradient-1 {
  height: auto;
  width: fit-content;
  border-radius: 8px;
  padding: 0rem;
  max-width: 100%;
  max-height: 100%;
  background-image: linear-gradient(var(--rotate), #5dc4ff, #a63ce3 43%, #1700c2);

  background-size: 400% 400%;

  animation: spin 8s ease infinite;
}
 @keyframes spin {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 100% 50%;

  }

  50% {
    background-position: 0% 50%;

  }

  75% {
    background-position: 100% 50%;

  }

  100% {
    background-position: 0% 50%;

  }


}

.contenedor a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}

.show-1 {


  animation: up 1s;
  visibility: visible;
  opacity: 1;
  animation-fill-mode: forwards;
  background-color: rgba(0, 0, 0, 0.904);


  transition: all 5s ease-in-out;


}

.hide-1 {


  animation: down 1s;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.904);
  animation-fill-mode: forwards;


  transition: all 5s ease-in-out;

}


@keyframes up {
  from {
    bottom: -100%;
    left: 0rem;

    visibility: hidden;
    opacity: 0;
  }


  to {
    bottom: 0%;
    left: 0%;

    visibility: visible;
    opacity: 1;

  }
}

@keyframes down {
  from {
    bottom: 0%;
    left: 0%;

    visibility: visible;
    opacity: 1;
  }


  to {
    bottom: F -100%;
    left: 0%;

    visibility: hidden;
    opacity: 0;

  }
}

.background-gradient-1 img {
  min-width: 15rem !important;
  max-height: --webkit-fill-avalible;
  height: auto !important;

  @include m.tablet {
    height: max-content;
  }

  @include m.telefono {
    min-width: 20rem !important;
    max-height: 40rem;
  }

  @include m.tablet {
    min-width: 25rem !important;
    max-height: 45rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.servicio:before {
  content: "";
  width: 104%;
  height: 104%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5dc4ff, #a63ce3 43%, #1700c2);
  position: absolute;
  z-index: -1;
  top: -2%;
  left: -2%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;

  animation: spin 8s ease infinite;
}