// Fuentes
$font_principal:'Montserrat', sans-serif;
$font_header:'Bebas Neue', cursive;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1600px;
$desktopXXL: 3200px;
// Colores
$azul: #0da6f3;
$rojo: #cb0000;
$verde: #329f00;
$negro: #1a1b15;
$premio: #d9d9d0;
$pink: #F53756;
$dark: #000000;
$light: #FFFFFF;
$strong-gray: #414147;
$golden: #CC922F;
$pink: #F53756;
$green-light: #00FFFF;
$green-dark: #2A8080;
$gray-dark: #4a5353;
$gray-light: #e1e1e1;
$google-blue: #4852F4;
$green-succes: #14ce4b;
$blanco: #FFFFFF;
$gris: #e1e1e1;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900