/*servicios*/

.servicios {
    text-align: center;
    margin-top: 3rem;
    align-items: flex-start;
}

.servicios h2 {
    padding-bottom: 0.5rem;
    color: $negro;
}

.servicios h2::after {
    height: 0.5rem;
    width: 7rem;
    background-color: var(--primario);
    content: '';
    margin: 1rem auto 0 auto;
    display: block;
}

.servicios i {
    font-size: 3rem;
    color: var(--secundario);
}

@media(min-width:768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 2rem;
    }
}