@use '../base/variables' as var;
@use '../base/mixins';
.header {
    padding: 5rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    @include mixins.tablet {
        min-height: 70rem;
    }
    @include mixins.telefono {
        padding: 4rem;
    }
    @include mixins.tablet {
        padding: 3rem;
    }
    @include mixins.desktop {
        padding: 2rem;
    }
    &::before {
        position: absolute;
        content: '';
        background-color: var.$negro;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .6;
    }
    .contenido-header {
        position: relative;
        h1 {
            text-align: center;
            color: var.$blanco;
            text-transform: uppercase;
            margin-top: 5rem;
            @include mixins.tablet {
                margin-top: 10rem;
            }
        }
    }
}

//Header de cada pagina
.header-inicio {
    background-image: url(../img/header_inicio.jpg);
}.header-nosotros {
    background-image: url(../img/header_nosotros.jpg);
}
.header-proceso{
    background-image: url(../img/header_proceso.jpg);
}
.header-menu{
    background-image: url(../img/header_menu.jpg);
}
.header-galeria{
    background-image: url(../img/header_galeria.jpg);
} .header-contacto{
    background-image: url(../img/header_contacto.jpg);
} 