@use 'base/variables' as var;
@use 'base/mixins';
.contenido-principal {
    background-color: var.$blanco;
    padding: 5rem s2rem;
    @include mixins.tablet {
        padding: 10rem;
        margin-top: -10rem;
        position: relative;
    }
}