@use 'base/variables' as var;
@use 'base/mixins' as m;

.nuestros-testimoniales
{   
    
    padding: 10rem 2rem;
    @include m.tablet{
        padding: 10rem;
    }
    .testimonial{
        background-color: var.$cafeClaro;
        padding: 2rem 4rem;
        margin: 0 auto;
        max-width: 50rem;
        border-radius: 1rem;
        .autor{
            text-align: right;
            font-size: 2.4rem;
            color:var.$primario;
            font-family: var.$fuenteCursiva;
        }
    }

}